@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-family: sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

header {
  text-align: center;
}

li {
  display: inline-block;
  list-style-type: none;
}

ul {
  text-decoration: none;
}

a {
  text-decoration: none;
  color: #0074d9;
}

a:hover {
  background-color: #0074d9;
  color: #fff;
}

.current {
  background-color: #0074d9;
  color: #fff;
}

h2, h3 {
  color: white;
}

@media only screen and (min-width: 60em) {

  header {
    text-align: left;
  }

}

@media only screen and (min-width: 90em) {

  header {
    text-align: left;
  }

}
